.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-spacing: 0px 0px;
}

.button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.button:hover {
  background-color: yellow;
  transition: background-color 0.5s, color 0.5s;
}

.cell {
  height: 70px;
  width: 70px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 100px;
}

.message {
  text-align: center;
  font-size: 15px;
}

.white {
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 100px;
}

.red {
  height: 60px;
  width: 60px;
  background-color: red;
  border-radius: 100px;
  transition: background-color 0.5s;
}

.blue {
  height: 60px;
  width: 60px;
  background-color: blue;
  border-radius: 100px;
  transition: background-color 0.5s;
}
